<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OTTS</display-name>
  <welcome-file-list>
    <welcome-file>WelcomeJSP/Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>com.ilp.otts.controller.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Checks the appropriate operation and calls the appropriate create,view ,delete methods</description>
    <display-name>ManageAdminServlet</display-name>
    <servlet-name>ManageAdminServlet</servlet-name>
    <servlet-class>com.ilp.otts.controller.ManageAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdminServlet</servlet-name>
    <url-pattern>/ManageAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ilp.otts.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSchoolServlet</display-name>
    <servlet-name>ManageSchoolServlet</servlet-name>
    <servlet-class>com.ilp.otts.controller.ManageSchoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSchoolServlet</servlet-name>
    <url-pattern>/ManageSchoolServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckSession</display-name>
    <filter-name>CheckSession</filter-name>
    <filter-class>com.ilp.otts.filter.CheckSession</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckSession</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTeacherSerlvet</display-name>
    <servlet-name>ManageTeacherSerlvet</servlet-name>
    <servlet-class>com.ilp.otts.controller.ManageTeacherSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTeacherSerlvet</servlet-name>
    <url-pattern>/ManageTeacherSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTeacherServlet</display-name>
    <servlet-name>ManageTeacherServlet</servlet-name>
    <servlet-class>com.ilp.otts.controller.ManageTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTeacherServlet</servlet-name>
    <url-pattern>/ManageTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStudentServlet</display-name>
    <servlet-name>ManageStudentServlet</servlet-name>
    <servlet-class>com.ilp.otts.controller.ManageStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudentServlet</servlet-name>
    <url-pattern>/ManageStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.ilp.otts.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>com.ilp.otts.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GRSCaptchaServlet</display-name>
    <servlet-name>GRSCaptchaServlet</servlet-name>
    <servlet-class>com.ilp.otts.captcha.GRSCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GRSCaptchaServlet</servlet-name>
    <url-pattern>/GRSCaptchaServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <display-name>CheckAccess</display-name>
    <filter-name>CheckAccess</filter-name>
    <filter-class>com.ilp.otts.filter.CheckAccess</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAccess</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.ilp.otts.controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>com.ilp.otts.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.ilp.otts.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.ilp.otts.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>

</web-app>